<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Animals</title>

</head>
<body>
<div layout:fragment="main-content">

    <div th:if="${ not#lists.isEmpty(animals)} ">

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Species</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="animal : ${animals}">
                <div th:if="${animal.animalStatus == 'ENABLED' && animal.animalHealthStatus == 'APPROVED' && animal.animalAdoptionStatus == 'NOT_ADOPTED'}">
                    <td th:text="${animal.name}"></td>
                    <td th:text="${animal.gender}"></td>
                    <td th:text="${animal.age}"></td>
                    <td th:text="${animal.species}"></td>
                    <td th:text="${animal.description}"></td>
                    <td>
                        <a th:href="@{/animal/adopt/{animal_id}(animal_id=${animal.id})}">Adopt application</a>
                    </td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${ #lists.isEmpty(animals)}">
        No pets found!
    </div>


</div>
</body>
</html>