<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Pending Shelters</title>
</head>
<body>
<div layout:fragment="main-content">

    <div th:if="${ not#lists.isEmpty(shelters)}">

        <table>
            <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="shelter : ${shelters}">
                <div th:if="${shelter.status == 'PENDING'}">
                <td th:text="${shelter.username}"></td>
                <td th:text="${shelter.email}"></td>
                <td th:text="${shelter.address}"></td>
                <td>
                    <!-- Approve button -->
                    <form th:action="@{/admin/shelters/approve/{shelter_id}(shelter_id=${shelter.id})}">
                        <button type="submit">Approve</button>
                    </form>

                    <!-- Reject button -->
                    <form th:action="@{/admin/shelters/reject/{shelter_id}(shelter_id=${shelter.id})}">
                        <button type="submit">Reject</button>
                    </form>
                </td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(shelters)}">
        No shelters pending approval!
    </div>

</div>
</body>
</html>